$portrait:  "(orientation: portrait)";
$landscape: "(orientation: landscape)";

$w-mini:   "(min-width: 400px)";
$w-small:  "(min-width: 768px)";
$w-medium: "(min-width: 992px)";
$w-bigger: "(min-width: 1200px)";
$w-larger: "(min-width: 1600px)";

$h-mini:   "(min-height: 400px)";
$h-small:  "(min-height: 768px)";
$h-medium: "(min-height: 992px)";
$h-bigger: "(min-height: 1200px)";
