<main class="esqueci-senha">
	<div class="container-fluid">
		<div class="row">
			<section class="intro intro-hand">
				<h1 class="font-corporate font-50">Esqueceu sua senha?</h1>
				<p class="hidden-xs-down font-14">
					<strong>Digite seu documento e e-mail cadastrado no programa.</strong> Fique tranquilo: em breve, você receberá um e-mail com
					a sua senha para continuar aproveitando as vantagens do clube.</p>
			</section>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<section class="descricao">
				<div class="container">
					<div class="col-md-4 offset-md-4">
						<p class="hidden-sm-up">
							<strong>Digite seu documento e e-mail cadastrado no programa.</strong> Fique tranquilo: em breve, você receberá um e-mail
							com a sua senha para continuar aproveitando as vantagens do clube.</p>
						<form novalidate autocomplete="off" name="forgotPassword.form" ng-submit="forgotPassword.submit()">
							<input required mask="999.999.999-99" ng-minlength="14" type="text" name="forgotPassword" class="form-control" placeholder="CPF"
							 ng-model="forgotPassword.identification">
							<input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" type="email" class="form-control" name="email" placeholder="E-mail"
							 ng-model="forgotPassword.email">
							<button class="btn btn-info btn-block" ng-disabled="forgotPassword.form.$invalid">Enviar</button>
							<a class="btn btn-light btn-block" ui-sref="app.home">Voltar</a>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="modal" tabindex="-1" role="dialog" id="modalSenha" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="row text-center">
						<div class="col-md-12">
							<p class="text-center my-0">
								<img src="assets/img/information.png" />
							</p>							
							<h5>Você receberá um e-mail sobre sua troca de senha!</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-8"><button class="btn btn-info" onclick="$('#modalSenha').modal('hide');">OK</button></div>
						<div class="col-md-2">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal full-modal" tabindex="-1" role="dialog" id="modalSenhaFalha" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="row">
						<p class="text-center my-0">
							<img src="assets/img/icon-alert.png" />
						</p>	
						<h5>Documento inválido!</h5>
					</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-8"><button class="btn btn-info" onclick="$('#modalSenhaFalha').modal('hide');">OK</button></div>
						<div class="col-md-2">&nbsp;</div>
					</div>
					<!-- <button class="btn btn-light" ng-click="forgotPassword.hideFailed()">Entendi</button> -->
				</div>
			</div>
		</div>
	</div>
</main>