@font-face {
    font-family: 'corporateaconregular';
    src: url('Fonts/corporateacon-reg_2-webfont.eot');
    src: url('Fonts/corporateacon-reg_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/corporateacon-reg_2-webfont.svg#corporateaconregular') format('svg'),
         url('Fonts/corporateacon-reg_2-webfont.woff') format('woff'),
         url('Fonts/') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorporateACon-Reg';
    src: url('Fonts/CorporateACon-Reg.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CorpoS';
    src: url('Fonts/corpos-regular.TTF');
    font-weight: normal;
    font-style: normal;
}

.bg-dark {
	background: #000 !important;
}
* {
	font-family: 'CorpoS', sans-serif !important;
}
.font-corporate {
	font-family: 'CorporateACon-Reg', serif !important;
} 
.font-50{font-size:50px!important}.font-40{font-size:40px!important}.font-35{font-size:35px!important}.font-30{font-size:30px!important}.font-20{font-size:20px!important}.font-16{font-size:16px!important}.font-14{font-size:14px!important}.font-13{font-size:13px!important}.font-12{font-size:12px!important}.font-11{font-size:11px!important}

.azul-claro {
	color: #00ADEF !important;
}
.cinza-claro {
	color: #666666 !important;
}


header .nav-header {
    height: auto;
}
	header .nav-header .logo {
		padding: 31px 0px;
		margin-left:31px;
	}

	header .nav-header .logo-club {
		padding: 31px 0px;
		margin-left: 0px;
		margin-right:31px;
	}
	header .nav-header .nav-header-bar .top-bar {
		right:0px;
	}
.redes-sociais a, .redes-sociais span, .r-direitos {
	color: #FFF;
	font-size: 12px;
	font-family: 'CorpoS' !important;
	line-height: 24px;
}
img.star.align-star {
	vertical-align: -1px;
}
header nav .site-menu {
	position:initial
}
main.como-funciona .descricao {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #EEE;
}
main.como-funciona section.pontos img {
	top:0px;
	right:0px;
}
.itens-estrelas ul li {
	list-style: none;
}
main.home-naologado .bg-hero {
    padding: 30px 0;
	background-image: url(../img/banner-deslogada.jpg);	
}
main.home-logado .destaques .box-quest {
	background-image: url(../img/banner-missao.jpg);
	background-image: url(../img/banner-saiba-mais.jpg);
	background-size: cover;
    height: 380px;
}
main.home-logado .destaques .box-quiz {
	background-image: url(../img/banner-quiz.jpg);
	background-image: url(../img/banner-indique-amigo.jpg);
	background-size: cover;
    height: 380px;
}
main.home-logado .destaques  .box-quiz h2:before {
    content: url(../img/icon-for-icon-white.png);
}
main.home-logado .destaques  .box-quiz .noum {
	width:48px;
}
.bx-aguarde {
	overflow:hidden;
}
.bx-aguarde:before {
    content: "Em breve";
    width: 210px;
    height: 30px;
    background: #00ADEF;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: -60px;
    top: 30px;
    text-align: center;
    color: #fff;
    z-index: 9;
}

main.home-logado .carousel .carousel-caption {
	bottom:45%;
}
main.home-naologado p.subtitulo {
    color: white;
    width: auto !important;
    left: 27%;
}

main.noticias section.descricao .img-thumbnail-custom {
	height:135px;
	max-width:100%;
	background-size:cover;
	background-position: center;
}

main.home-naologado .box-subtitulo {
	min-height: 275px;
}
main.noticias a {
	width:100%;
}

main.encontre-concessionaria .intro.intro-hand {
	background-image: url('../img/banner06.png');
	background-size:cover;
}
main.encontre-concessionaria .bg-mapa {
	bottom:0px;
	height:auto;
}
main.encontre-concessionaria .bg-mapa .container{
	margin-top: -60px;
}

main.faq a.botao[aria-expanded="false"]:after {
    content: "+";
}
main.faq a.botao[aria-expanded="true"] {
	background:#00ADEF;
}
main.faq a.botao[aria-expanded="true"]:after {
	content: "-";
}

.btn-info.disabled, .btn-info:disabled {
	background:#666;
	border: #666;
}
.subfooter ul li.titulo {
	font-size:20px;
}
.subfooter ul li a {
	font-size:12px;
}


main.extrato-pontos section.bg-caminhoes {
	background-image: url('../img/pack-frota.png');
	background-size: contain;
    background-position: center;
}
/*
-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
*/
.blur {

	opacity: 0.5;
}
/*
display: table !important; margin: 0 auto !important; background: #eee;
*/
.box-meta-in {
	background: #eee;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.site-menu {
		position:relative !important;
	}
	main.extrato-pontos section.bg-caminhoes{
		display: none;
	}
    .c-logo { 
		display:none;
	}
	header .nav-header .logo-club {
		/* padding-top:7px; */
		padding: 15px 0px;
	}
	.c-menu {
		top: 20px;
	}
	footer {
		text-align: center;
		height: 130px;
	}
	footer .r-crc {
		display:none !important;
	}
	footer .col-md-6:first-of-type {
		padding: 0px;
		width: 90%;
		left: 5%;
	}
	main.home-logado .destaques .box-quest, main.home-logado .destaques .box-quiz {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 169px;
	}
	main.home-logado .destaques .after {
		background-color: #1d1d1d;
		color: #fff;
		padding: 10px 15px;
	}
	main.home-logado .destaques h2:before {
		height:0px;
	}
	.noum {
		display:none;
	}
}


@media only screen and (min-width: 768px) {
	.nav-header-bar .top-bar.position-relative {
		margin-top:21px;
	}
	.top-bar {
		width:100% !important;
	}
}