<main class="fale-conosco" ng-init="contact.init()">
	<div class="container-fluid">
		<div class="row">
			<section class="intro intro-pessoas">
				<h1 class="font-corporate font-50">Fale conosco</h1>
				<p class="d-none d-sm-block font-14">O clube quer ouvir você. Digite seus dados e escreva sua mensagem: dúvidas, reclamações, elogios. Aguarde. Em breve,
					a gente vai entrar em contato.</p>
			</section>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<section class="descricao">
				<div class="container">
					<p class="d-sm-none text-center">O clube quer ouvir você.
						<br> Digite seus dados e escreva sua mensagem: dúvidas, reclamações, elogios. Aguarde. Em breve, a gente vai entrar em
						contato.</p>
					<form novalidate autocomplete="off" name="contact.form" ng-submit="contact.submit()" class="formulario-contato">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Nome</label>
									<input required type="text" name="" class="form-control" placeholder="Nome" ng-model="contact.fields.name">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>E-mail</label>
									<input required type="email" name="" class="form-control" placeholder="E-mail" ng-model="contact.fields.email">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Assunto</label>
									<select required name="Assunto" class="form-control" ng-model="contact.fields.subject">
										<option value="" selected disabled hidden>Selecione uma opção</option>
										<option ng-repeat="subject in contact.subject track by $index" ng-value="subject.id">{{ subject.descricao }}</option>
									</select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Mensagem</label>
									<textarea required class="form-control" rows="4" placeholder="Mensagem" ng-model="contact.fields.description"></textarea>		
								</div>
							</div>
						</div>
						<div class="col-md-4 offset-md-4">
							<button class="btn btn-info btn-block" ng-disabled="contact.form.$invalid">Enviar</button>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
	<div class="modal full-modal" tabindex="-1" role="dialog" id="modalContato" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="row">
						<p class="text-center w-100 my-0">
							<img src="assets/img/tick.png" />
						</p>
						<h2>
							Sua mensagem foi enviada com sucesso!
						</h2>
					
					</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-8">
							<button class="btn btn-info" onclick="$('#modalContato').modal('hide');">OK</button>
						</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>